@charset "UTF-8";

#writebox {
	height: 560px;
	position: relative;
	margin: 0px auto;
	width: 90%;
	max-width: 1200px;
	min-width: 1000px;
	padding: 27px 19px 23px;
	padding-top: 40px;
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.writeUp {
	position: relative;
	margin: 0px auto;
	width: 90%;
	font-size: 14px;
}

#box1 tr td:first-child {
	text-align: center;
	width: 60px;
	background-color: #333;
	color: white;
	border-radius: 5px;
}

.btn_wrap {
	padding-top: 10px;
	text-align: center;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	min-width: 60px;
	height: 40px;
	margin: 0;
	padding: 0 15px;
	border: #222 solid 1px;
	border-radius: 3px;
	color: #222;
	line-height: 38px;
	text-decoration: none;
}

.btn.focus {
	background-color: #333;
	color: white;
}

.btn.focus:hover {
	background-color: white;
	color: #333;
}

.write_wrap {
	position: relative;
	box-sizing: border-box;
	padding-top: 110px;
	padding-bottom: 110px;
}

.write_wrap footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}